/* Carousel */

.carousel {
    width: 100%;
    aspect-ratio: 4/1.84;
    background-color: white;
    position: relative;
    z-index: 1;
    top: 111px;
   
    .carousel__foto {
        width: 100%;
        aspect-ratio: 4/1.84;
    }
}