/* Mixins Botones */

@mixin botones($color, $background-color, $valor-text-align, $borde) {
    font-size: map-get($sizes, size-h5);
    background-color: $background-color;
    border: 1px solid $borde;
    color: $color;
    height: 40px;
    width: 90px;
    text-align: $valor-text-align;
}

.enviar, .reset {
    @include botones(map-get($colores, color-1), map-get($colores, color-6), center, map-get($colores, color-6));
    border-radius: 10px;
    margin-top: 10px;
    &:hover {
        background-color: map-get($colores, color-4);
        color: map-get($colores, color-1);
        border: 1px solid map-get($colores, color-4);
    }
}

.pagar, .agregar, #btn {
    @include botones(map-get($colores, color-1), map-get($colores, color-6), center, map-get($colores, color-6));
    border-radius: 10px;
    margin-top: 10px;
    &:hover {
        background-color: map-get($colores, color-4);
        color: map-get($colores, color-1);
        border: 1px solid map-get($colores, color-4);
    }
}

#btn {
    @include botones(map-get($colores, color-6), map-get($colores, color-2), center, map-get($colores, color-2));
    border-radius: 10px;
    margin-bottom: 10px;
    &:hover {
        background-color: map-get($colores, color-4);
        color: map-get($colores, color-1);
        border: 1px solid map-get($colores, color-1);
    }
}