/* Productos */

.productos {
    #productosContenedor {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px 15px 30px 15px;
        .contenedor__box {
            width: 300px;
            border-radius: 15px;
            overflow: hidden;
            border: 2px solid map-get($colores, color-6);
            margin: 0px 15px 30px 15px;
            background-color: map-get($colores, color-1);
            color: map-get($colores, color-6);
            box-shadow: 5px 5px 5px map-get($colores, color-1);
            .box__foto {
                
                .foto {
                    width: 100%;
                    aspect-ratio: 1/1;
                    background-color: white;
                }
            }
            .box__texto {
                margin: 20px 10px 20px 10px;
                .agregar {
                    position: relative;
                    margin: 10px 20px 0px 20px;
                    right: -75px;
                }
            }
        }
    }
}