/* Variables Colores */

$color1: #342E3C;
$color2: #454B5F;
$color3: #506B81;
$color4: #5B8D9F;
$color5: #6EB1B5;
$color6: #8ED3C4;

/* Variables Sizes */

$size1: 64px;
$size2: 48px;
$size3: 36px;
$size4: 20px;
$size5: 16px;